.create-macro-container {
    padding: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input, select {
    margin: 5px;
  }
  
  .block-item {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background-color: red;
    
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkred;
  }
  
  .added-blocks {
    margin-top: 30px;
  }
  