.create-macro-container {
    padding: 20px;
   
  }
 h2 {
   font-size: 5rem;
 } 
  label {
    margin-right: 10px;
    
  }
  
  input, select {
    margin: 5px;
  }
  
  .block-item {
    margin-top: 20px;
    padding: 10px;
    
    border-radius: 5px;
    
  }
  
  .block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background-color: red;
    
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkred;
  }
  
  .added-blocks {
    margin-top: 30px;
  }
  .nested-blocks {
    margin-left: 20px;
    padding: 10px;
    border-left: 2px solid #31f002;
    border-top: 2px solid rgb(111, 255, 0);
  }
  
  .statement-section {
    margin-top: 10px;
  }
  
  .block-content {
    padding: 10px;
  }
  
  .block-item {
    border-left: 1px solid #4c00ff;
    border-top: 1px solid #4c00ff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
  }